<!-- 
	This is the navbar.
  Used style source from Bootstrap:
	https://getbootstrap.com/docs/4.6/components/navbar/
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	<!-- This is the link to the home page. -->
	<%= link_to 'LECTURES', root_path, class:"navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  	<!-- These are links in the navbar on the left.-->
    <ul class="navbar-nav mr-auto">

    	<!-- This is the link to the about page. -->
      <li class="nav-item active">
      	<%= link_to "About Us", home_about_path, class:"nav-link"%>
      </li>

      <!-- This is the link to the all lectures page. -->
      <li class="nav-item active">
        <%= link_to "All Lectures", lectures_path, class:"nav-link"%>
      </li>

      <!-- This is the link to the new lectures page. -->
      <li class="nav-item active">
        <%= link_to "Add Lecture", new_lecture_path, class:"nav-link"%>
      </li>
    </ul>

    <!-- These are the links for user account sign in, sign out, ect. They are put on the right side of the navbar. -->
    <ul class="navbar-nav my-2">
   		<li class="nav-item">
        	<a class="nav-link" href="#">Link</a>
      	</li>
	</ul>

  </div>
</nav>